#VSCode
.vscode

#MacOS
*.dSYM/
.DS_Store

#CPP
mod*/ex*/build/

mod00/ex00/megaphone
mod00/ex01/phonebook
mod00/ex02/logger
mod00/ex02/19920104_091532.log

mod01/ex00/brainz
mod01/ex01/brainz
mod01/ex02/hi_brain
mod01/ex03/violence
mod01/ex04/sed
mod01/ex05/harl
mod01/ex06/harlFilter

mod02/ex00/fixed
mod02/ex01/fixed
mod02/ex02/fixed
mod02/ex03/BSP

mod03/ex00/ClapTrap
mod03/ex01/ScavTrap
mod03/ex02/FragTrap
mod03/ex03/DiamondTrap

mod04/ex00/animal
mod04/ex01/brains
mod04/ex02/brains
mod04/ex03/interfaces

mod05/ex00/bureaucrat
mod05/ex01/forms
mod05/ex02/bureaucracy
mod05/ex02/*_shrubbery
mod05/ex03/bureaucracy

mod06/ex00/convert
mod06/ex01/serialize